@import '../.././../assets/styles/variables';
.main-button {
  padding: 5px 10px;
  display: block;
  outline: none;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid $blue;
  background: $blue;
  color: $white;
  font-size: 16px;
  cursor: pointer;
  &:disabled {
    background-color: $light-gray;
    border: 1px solid $light-gray;
  }
}
